<!DOCTYPE html>
<html>
<head>
  <title>DaBomb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
	
	<li><%= link_to 'Gallery', photos_path %></li>
	
	<% if logged_in? %>
		<li><%= link_to "Log out", logout_path, method: "delete" %></li>
		<li><%= link_to "Profile", current_user %></li>
	<% else %>
		<li><%= link_to 'Sign up', new_user_path %></li>
      	<li><%= link_to "Log in", login_path %></li>
    <% end %>

	
	
	
	


</header>
<body>

<%= yield %>

</body>
</html>
